.sidebar {
    height: calc(100vh);
    background: #1a4689;
}
@media (min-width: 576px) {
    .sidebar {
        max-width: 280px;
    }
}
.bg-light {
    background-color: #f8f9fa !important;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


/* Custom navbar */
.navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}


/* Left menu */
.left-menu {
    padding-left: 0px;
    margin: 0;
    padding: 0;
}
.left-menu LI {
    list-style: none;
    width: 100%;
    border-top: 1px #193e76 solid;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 9px;
}
.left-menu A {
    color: #FFF;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

/* Signin form */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}